        var html = `<div id="category_medium">#{c.select :category_medium, ["---","トップス","ジャケット/アウター","パンツ","スカート","ワンピース","靴","ルームウェア","レッグウェア","帽子","バッグ","アクセサリー","ヘアアクセサリー","小物","時計","ウィッグ/エクステ","浴衣/水着","スーツ/フォーマル/ドレス","マタニティ","その他"] , class: "select", id: "select_btn_medium"}</div> `
