.random
  - if @rand == 1
    %p 割引ガチャガチャの結果『大当たり』が出ました!!!
    - number = 1
    .random-link
      = link_to("商品ガチャガチャへ!",item_path(id: @random, number: number), class: "link")
  - elsif @rand == 2 || @rand == 3 || @rand == 4 || @rand == 5 || @rand == 6 || @rand == 7 || @rand == 8 || @rand == 9 || @rand == 10 || @rand == 11 || @rand == 12 || @rand == 13 || @rand == 14 || @rand == 15 || @rand == 16 || @rand == 17 || @rand == 18 || @rand == 19 || @rand == 20 || @rand == 21
    %p 割引ガチャガチャの結果『あたり』が出ました!!
    - number = 2
    .random-link
      = link_to("商品ガチャガチャへ!",item_path(id: @random, number: number), class: "link")
  - else
    %p 割引ガチャガチャの結果『ふつー』が出ました!
    - number = 3
    .random-link
      = link_to("商品ガチャガチャへ!",item_path(id: @random, number: number), class: "link")
