.purchase{
  overflow: scroll;
  background: rgb(245, 245, 245);

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    
    img{
      width: 185px;
      height: 49px;
    }
  }

  main{
    background-color: white;
    width: 700px;
    margin: 0 auto;
    

    .main-header{
      p{
        text-align: center;
        padding: 0 16px;
        font-size: 22px;
        font-weight: 600;
        padding: 50px;
        border-bottom: solid 1px lightgray;
      }
    }

    .item-image{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        margin-top:20px;
        height: 148px;
        width: 148px;
      }
    }

    .main-contents{
      padding: 40px 0;
      .center{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .item-name{
        text-align: center;
        margin-top: 20px;
      }
      .item-price{
        text-align: center;
        margin-top: 20px;
      }
      .point{
        background-color: #ccc;
        margin-top: 20px;
        width: 50%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
      }
      .item-price-sum{
        text-align: center;
        margin-top: 20px;
        padding-bottom: 40px;
        border-bottom: 1px solid lightgray;
      }
      .credit{
        text-align: center;
        margin: 40px 0;
        p{
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
      .purchase-btn{
        background-color: #EA352D;
        margin: 20px 0;
        width: 50%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  footer{
    .footer-head{
      text-align: center;
      margin: 40px 0;

      a{
        font-size: 12px;
        margin: 0 5px;
        text-decoration: none;
      }
    }

    .footer-image{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      img{
        height: 65px;
        width: 80px;
      }
    }

    .footer-p{
      text-align: center;
      font-size: 13px;
    }
  }
}