%footer
  .footer-head
    %a{:href => ""} プライバシーポリシー
    %a{:href => ""} メルカリ利用規約
    %a{:href => ""} 特定商取引に関する表記
  .footer-image
    %a{:href => "/"}
      %img{:alt => "", :src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?376951604"}/
  .footer-p
    %p © 2019 Mercari
